




.kih_details {

    margin-left: 1em;
    margin-bottom: 1em;
}

.kih_hr {

    width:100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.kih_hr_light {

    width:100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}




.bolder,
dl dt {
	font-weight: 400
}

a,
blockquote {
	font-style: italic
}

.button,
.foldableButton,
button {
	cursor: pointer
}

* {
	box-sizing: border-box
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url(assets/fonts/open-sans-v15-latin-300.eot);
	src: local("Open Sans Light"), local("OpenSans-Light"), url(assets/fonts/open-sans-v15-latin-300.eot?#iefix) format("embedded-opentype"), url(assets/fonts/open-sans-v15-latin-300.woff2) format("woff2"), url(assets/fonts/open-sans-v15-latin-300.woff) format("woff"), url(assets/fonts/open-sans-v15-latin-300.ttf) format("truetype"), url(assets/fonts/open-sans-v15-latin-300.svg#OpenSans) format("svg")
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: url(assets/fonts/open-sans-v15-latin-300italic.eot);
	src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url(assets/fonts/open-sans-v15-latin-300italic.eot?#iefix) format("embedded-opentype"), url(assets/fonts/open-sans-v15-latin-300italic.woff2) format("woff2"), url(assets/fonts/open-sans-v15-latin-300italic.woff) format("woff"), url(assets/fonts/open-sans-v15-latin-300italic.ttf) format("truetype"), url(assets/fonts/open-sans-v15-latin-300italic.svg#OpenSans) format("svg")
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(assets/fonts/open-sans-v15-latin-regular.eot);
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url(assets/fonts/open-sans-v15-latin-regular.eot?#iefix) format("embedded-opentype"), url(assets/fonts/open-sans-v15-latin-regular.woff2) format("woff2"), url(assets/fonts/open-sans-v15-latin-regular.woff) format("woff"), url(assets/fonts/open-sans-v15-latin-regular.ttf) format("truetype"), url(assets/fonts/open-sans-v15-latin-regular.svg#OpenSans) format("svg")
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url(assets/fonts/open-sans-v15-latin-italic.eot);
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url(assets/fonts/open-sans-v15-latin-italic.eot?#iefix) format("embedded-opentype"), url(assets/fonts/open-sans-v15-latin-italic.woff2) format("woff2"), url(assets/fonts/open-sans-v15-latin-italic.woff) format("woff"), url(assets/fonts/open-sans-v15-latin-italic.ttf) format("truetype"), url(assets/fonts/open-sans-v15-latin-italic.svg#OpenSans) format("svg")
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url(assets/fonts/open-sans-v15-latin-600.eot);
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(assets/fonts/open-sans-v15-latin-600.eot?#iefix) format("embedded-opentype"), url(assets/fonts/open-sans-v15-latin-600.woff2) format("woff2"), url(assets/fonts/open-sans-v15-latin-600.woff) format("woff"), url(assets/fonts/open-sans-v15-latin-600.ttf) format("truetype"), url(assets/fonts/open-sans-v15-latin-600.svg#OpenSans) format("svg")
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src: url(assets/fonts/open-sans-v15-latin-600italic.eot);
	src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url(assets/fonts/open-sans-v15-latin-600italic.eot?#iefix) format("embedded-opentype"), url(assets/fonts/open-sans-v15-latin-600italic.woff2) format("woff2"), url(assets/fonts/open-sans-v15-latin-600italic.woff) format("woff"), url(assets/fonts/open-sans-v15-latin-600italic.ttf) format("truetype"), url(assets/fonts/open-sans-v15-latin-600italic.svg#OpenSans) format("svg")
}

.align-center {
	text-align: center
}

.smaller {
	font-size: .9rem
}

.smaller7 {
	font-size: .7rem
}

.phantom {
	opacity: 0;
}

dl dt {
	margin: 2em 0 .3em
}

dl dd {
	font-size: 1.1rem;
	margin: 0
}

html {
	font-size: calc(100vh * .02);
	font-family: Aller, "Open Sans", sans-serif;
	font-weight: 300
}

h1,
h3 {
	font-weight: 400
}

a {
	color: #333;
	text-decoration: underline
}

.button,
aside section.twitter a,
button,
header.main a {
	text-decoration: none;
}

h2,
h3,
h4 {
	margin: 1em 0 .5em;
}

h1 {
	font-size: 2.2rem;
	margin: 0 0 .8em;
}

h2 {
	font-size: 1.5rem;
}

h3,
h4 {
	font-size: 1.1rem;
	text-decoration: underline;
}

h4,
ul {
	font-weight: 300
}

h4 {
	text-transform: uppercase
}

blockquote {
	font-family: Consolas, monospace;
	margin: 0
}

.button,
button,
form input,
form textarea {
	font-family: Aller, "Open Sans", sans-serif
}

ul {
	padding-left: 1.5em
}

.typologo,
article h2,
header.main p {
	font-weight: 400
}

ul li {
	margin-bottom: 1em
}

form {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

form input,
form textarea {
	width: 50%;
	padding: 1em;
	margin-bottom: 1rem;
	border: none;
	background-color: rgba(255, 255, 255, .7);
	color: #333;
	font-size: 1rem
}

body>footer,
body>footer a {
	color: #C5C5C5
}

form input[type=checkbox],
form textarea[type=checkbox] {
	width: 1.5em;
	height: 1.5em
}

form button {
	width: 50%
}

form.sending {
	opacity: .5;
	-webkit-animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
	animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px
}

@media (max-width:767px),
(orientation:portrait) {
	form button,
	form input,
	form textarea {
		width: 100%
	}
}

div.message {
	display: none
}

article .row,
body>footer .logos div {
	display: -webkit-flex;
	display: -ms-flexbox
}

@-webkit-keyframes shake {
	10%,
	90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		transform: translate3d(-1px, 0, 0)
	}
	20%,
	80% {
		-webkit-transform: translate3d(2px, 0, 0);
		transform: translate3d(2px, 0, 0)
	}
	30%,
	50%,
	70% {
		-webkit-transform: translate3d(-4px, 0, 0);
		transform: translate3d(-4px, 0, 0)
	}
	40%,
	60% {
		-webkit-transform: translate3d(4px, 0, 0);
		transform: translate3d(4px, 0, 0)
	}
}

@keyframes shake {
	10%,
	90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		transform: translate3d(-1px, 0, 0)
	}
	20%,
	80% {
		-webkit-transform: translate3d(2px, 0, 0);
		transform: translate3d(2px, 0, 0)
	}
	30%,
	50%,
	70% {
		-webkit-transform: translate3d(-4px, 0, 0);
		transform: translate3d(-4px, 0, 0)
	}
	40%,
	60% {
		-webkit-transform: translate3d(4px, 0, 0);
		transform: translate3d(4px, 0, 0)
	}
}

body>footer {
	padding: 1em 4vmax;
	background-color: rgba(54, 54, 54, .8)
}

body>footer .logos {
	margin: 2rem 0
}

body>footer .logos div {
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

body>footer .logos img {
	height: 5rem;
	max-width: 100%;
	-webkit-filter: contrast(0) brightness(1.5);
	filter: contrast(0) brightness(1.5);
	margin: 2em
}

body>footer .logos img.gray {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%)
}

body>footer .logos img.larger {
	height: 8rem
}

body>footer .logos img.smaller {
	height: 3rem
}

body>footer .logos img.no-filter,
body>footer .logos img:hover {
	-webkit-filter: none;
	filter: none
}

body>footer .logos img.no-hover {
	-webkit-filter: contrast(0) brightness(1.5)!important;
	filter: contrast(0) brightness(1.5)!important
}

body>footer p {
	margin: 2em 0 1em
}

body>footer p.submenu a {
	margin-right: 1em
}

body>footer .funding-note {
	font-size: .9rem;
	text-align: left
}

body>footer .funding-note a {
	margin-left: 0
}

.ie-browser>footer {
	padding: 1em 4rem
}

body>section {
	min-height: 85vh;
	width: calc(100% / 3 * 2);
	background-color: rgba(226, 237, 200, .6);
	padding: 4vmax
}

article p {
	line-height: 1.5em
}

article h2 {
	margin-top: 2em
}

article .row {
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

#grid,
article.cluster header h2 {
	display: -webkit-flex;
	display: -ms-flexbox
}

article .row>* {
	width: 45%
}

article .row>* img {
	max-width: 50%
}

article.cluster {
	margin-top: 2.5vmax
}

article.cluster header {
	position: relative
}

article.cluster header img {
	width: calc(100% + 8vmax);
	height: 25vh;
	position: relative;
	left: -4vmax;
	object-fit: cover;
	box-shadow: rgba(0, 0, 0, .2) 0 3px 6px
}

article.cluster header img.anonymous {
	height: 15vh;
	opacity: .3
}

article.cluster header h2 {
	position: absolute;
	top: 0;
	font-weight: 400;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 1em
}


.italic {
    font-style: italic;
    font-weight: 300 !important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.box_shadow {
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.box_shadow:hover {
	box-shadow: 7px 7px 12px rgba(0,0,0,0.55);
}

article.cluster header h2 span {
	background-color: #fff;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 0 .1em
}

.square-action {
	margin: 2rem 0 0
}

.square-action--right {
	text-align: right
}

#grid {
	width: calc(100% / 3 * 2);
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

#grid .square,
header.main {
	display: -webkit-flex;
	display: -ms-flexbox
}

#grid .square {
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-basis: calc(100% / 2);
	-ms-flex-preferred-size: calc(100% / 2);
	flex-basis: calc(100% / 2);
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	height: calc(100vh / 2);
	padding: 2.5vmax;
	overflow: hidden
}

#grid .square.title {
	background-color: rgba(255, 255, 255, .7)
}

#grid .square.description {
	background-color: rgba(255, 255, 255, .6)
}

#grid .square.quotes {
	background-color: rgba(205, 234, 127, .7)
}

#grid .square.cluster {
	background-color: rgba(229, 243, 195, .7)
}

#grid .square article {
	width: 100%
}

#grid .square article p {
	line-height: 1.3em
}

aside {
	width: calc(100% / 3);
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(214, 231, 243, .8);
	box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
	overflow-y: hidden
}

@media (max-width:767px),
(orientation:portrait) {
	article .row>*,
	body>section {
		width: 100%
	}
	article .row {
		display: block
	}
	#grid,
	aside {
		width: 100vw
	}
	#grid .square {
		-webkit-flex-basis: 100vw;
		-ms-flex-preferred-size: 100vw;
		flex-basis: 100vw
	}
	aside {
		position: initial
	}
}

.ie-browser {
	overflow-x: hidden
}

.ie-browser #grid .square {
	-webkit-flex-basis: calc((100% - 10rem)/ 2 - 1px);
	-ms-flex-preferred-size: calc((100% - 10rem)/ 2 - 1px);
	flex-basis: calc((100% - 10rem)/ 2 - 1px);
	padding: 2.5rem;
	box-sizing: border-box
}

.ie-browser>section {
	padding: 4rem
}

.vertical-space {
	margin: 3em 0
}

img.portrait {
	max-height: 15em
}

header.main {
	width: 100%;
	background-image: url(assets/bits-und-baeume-dd3-logo.svg);
	background-repeat: no-repeat;
	background-position: top right;
	/*original: 5*/
	background-size: 6em;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

header.main h1 {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

header.main a {
	font-style: normal
}

header.main p {
	margin: 0
}

header.main p.counter {
	text-align: right;
	color: rgba(0, 0, 0, .5);
	font-style: italic;
	font-weight: 300
}

header.main .back-button {
	display: none
}

.sub-page header.main {
	width: calc(100% / 3 * 2);
	min-height: 15vh;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-color: rgba(255, 255, 255, .7);
	background-position: center left 2em;
	background-size: 3em;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	padding-left: 7em
}

.sub-page header.main h2 {
	margin-right: 2em;
	font-size: 1.3rem
}

.sub-page header.main p.counter {
	display: none
}

.sub-page header.main div h1 {
	font-size: 1.3rem;
	display: block;
	margin-bottom: .3em
}

.sub-page header.main div p {
	font-size: 1.3rem;
	display: inline-block;
	margin: 0 0 .5em
}

@media (max-width:767px),
(orientation:portrait) {
	.sub-page header.main {
		width: 100%
	}
	.sub-page header.main div {
		display: none
	}
	.sub-page header.main .back-button {
		display: block;
		margin: 3em 0 .5em
	}
	.sub-page section .back-button {
		display: none
	}
}

.people .portrait {
	display: none
}

.people .portrait:first-of-type {
	display: block
}

.people .portrait .image {
	width: calc(100vw / 3 * .3);
	height: calc(100vw / 3 * .3);
	border-radius: calc(100vw / 3 * .3);
	margin: 0 auto 2em;
	background-color: #ddd;
	background-size: cover;
	background-position: center
}

@media (max-width:767px),
(orientation:portrait) {
	.people .portrait .image {
		width: calc(100vw * .3);
		height: calc(100vw * .3);
		border-radius: calc(100vw * .3)
	}
	aside {
		overflow-y: hidden
	}
}

.people .portrait p {
	font-size: .9rem
}

.button,
button {
	background-color: rgba(255, 255, 255, .3);
	border: none;
	padding: 1em 1.5em;
	font-size: 1.1rem;
	font-weight: 400;
	display: inline-block;
	font-style: normal;
	color: inherit
}

.button:hover,
button:hover {
	transition: background-color .3s;
	background: #fff
}

.button.back-button,
button.back-button {
	background-color: rgba(255, 255, 255, .6);
	padding: .5em 1em;
	font-size: 1rem;
	font-weight: 300;
	position: relative;
	top: -2vmax
}

aside section.stats {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 5rem;
	margin: 2.5vmax
}

aside section.stats p {
	font-size: 1.1rem;
	margin: 0 0 .5em
}

aside section.program header,
aside section.twitter header,
aside section.twitter time {
	font-size: .9rem
}

aside section.switch {
	margin: 0 2.5vmax;
	height: calc(100vh - 10rem - 10vmax);
	overflow: hidden;
	display: none
}

aside section.switch.active {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}

.right_col_inner{
/*essential part of switch.active for static version*/
margin: 3rem 2.5vmax;

}


aside section.program article,
aside section.twitter article {
	width: 100%;
	margin-bottom: 2em
}

aside section.program h4,
aside section.twitter h4 {
	text-transform: none;
	margin: 0 0 .3em
}

aside section.program address {
	display: inline-block;
	font-style: normal
}

aside section.program .square-action {
	margin: 0
}

aside section.twitter header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: .3em 0 0
}

aside section.twitter header address {
	background-image: url(/img/tweet-blue.svg);
	background-repeat: no-repeat;
	background-size: 1em;
	padding-left: 1.5em
}

aside .control {
	height: calc(5rem + 5vmax);
	padding: 0 2.5vmax;
	background-color: rgba(217, 231, 241, .5);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

aside .control>div {
	cursor: pointer;
	opacity: .5;
	-webkit-filter: blur(1px);
	filter: blur(1px)
}

aside .control>div.active,
aside .control>div:hover {
	opacity: 1;
	-webkit-filter: none;
	filter: none
}

aside .control .icon {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 2rem
}

aside .control .program .icon {
	background-image: url(/img/program.svg)
}

aside .control .twitter .icon {
	background-image: url(/img/tweet.svg)
}

aside .control p {
	text-align: center;
	font-weight: 400
}

.ie-browser aside section.stats {
	margin: 2.5rem
}

.ie-browser aside section.switch {
	margin: 0 2.5rem;
	height: calc(100vh - 10rem - 10rem)
}

.ie-browser aside .control {
	height: calc(5rem + 5rem);
	padding: 0 2.5rem
}

.foldableButton:before {
	content: '';
	border: solid #333;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	vertical-align: middle;
	margin-right: .5em;
	margin-bottom: 5px;
	transition: -webkit-transform ease .2s;
	transition: transform ease .2s;
	transition: transform ease .2s, -webkit-transform ease .2s
}

.foldableButton--active:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.foldableContent--hidden {
	display: none
}

.programme header {
	width: 15%
}

.programme .details {
	width: 80%
}

.programme h4 {
	margin: 0 0 .5em
}

body {
	background-image: url(assets/poly.svg);
	background-size: cover;
	color: #333;
	margin: 0;
	clear: both
}

