      <aside>
        <ul>
          {% for post in site.posts limit:4 %}
            <li>
              <h3>
                <a href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              <div>
                <time datetime="{{post.date}}">{{ post.date | date: "%d.%m.%Y" }}</time>
                –
                <span>{{ post.author | escape }}</span>
              </div>
              {% if post.summary %}
              <p><a href="{{ post.url | relative_url }}">
                {{ post.summary }}
              </a></p>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </aside>
