<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/svg+xml" href="/assets/bub.svg">

    {%- feed_meta -%}

    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

    {% seo %}
  </head>
