// use like: @media #{$tablet}
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"
$mobile: "(max-width: 767px), (orientation : portrait)"

*
  box-sizing: border-box
// IMPORTS
@import colors
@import typo
@import forms
@import footer
@import layout
@import header
@import portrait
@import buttons
@import sidebar
@import foldable
@import programme
@import support

body
  background-image: url('../assets/poly.svg')
  // background-attachment: fixed
  background-size: cover
  color: $text
  margin: 0px
  clear: both

// ==== bubdd extensions ==== //

#grid
  .square
    article
      max-height: 100%
      max-width: 100%
    &.title
    header
      padding-right: 20%
      word-break: break-word
      background: transparent url(/assets/bub.svg) right top/20% no-repeat
      h1
        font-size: 1.67em
        a
          text-decoration: none
          font-style: initial

    &.announcements
      flex-direction: column
      justify-content: center
      ul
        padding-left: 0
        li
          list-style: none
          a
           span.title
            font-weight: bold

    &.features
      h1
        font-size: 1em
      img
        width: 100%
        height: auto

body
  section
    img
      max-width: 100%
  aside
    ul
      list-style: none
      margin: 2.5vmax 0
      padding: 0 3em
    li
      margin: 2em 0
      time
        font-size: 0.8em
      p>a
        text-decoration: none

body.sub-page
  header.main
    background: transparent url(/assets/bub.svg) 10px center no-repeat
    flex-direction: column
    align-items: flex-start
    align-content: start
