---
layout: page
---

{% assign event = page %}

<section class="event"  id="{{ event.title | slugify }}" itemscope itemtype="http://schema.org/Event">

    <header>
      <h1 itemprop="name">{{ event.title | escape }}</h1>
      <p>
        <span class="date">{{ event.date | date: '%d.%m.%Y %H:%M Uhr' }}</span>
        <br/><span itemprop="location">
          {% if event.location %}
            {{ event.location }}
          {% endif %}
        </span>
      </p>
    </header>

    {% if event.image %}
    <figure>
      <img src="{{ event.image | relative_url }}" alt="{{ event.title }}" itemprop="image" />
    </figure>
    {% endif %}

    {% if content %}
    <div itemprop="description">{{ content }}</div>
    {% endif %}

  </section>
