<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="sub-page">

    <header class="main">
        {% markdown title.md %}
    </header>

    {{ content }}

    {%- include aside.html -%}


    {%- include footer.html -%}

  </body>

</html>
