---
layout: page
---

{% assign post = page %}

<section class="post" id="{{ post.title | slugify }}" >

    <header class="post-header">
        <h1 class="post-title" itemprop="name">{{ page.title | escape }}</h1>
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%d.%m.%Y" }}
          </time>
            –
          <span rel="author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">{{ post.author | escape }}</span>
        </p>
    </header>

    {% if page.image %}
      <figure>
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" itemprop="image" />
      </figure>
    {% endif %}

    {% if content %}
      <div itemprop="articleBody">{{ content }}</div>
    {% endif %}

</section>
