<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main aria-label="Content" id="grid">

      <section class="square title">
        <header>
          {% markdown title.md %}
          {% markdown contact.md %}
          {% markdown creedlink.md %}
        </header>
      </section>

      <section class="square announcements">

        {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}

        {% assign last_event = site.events.last %}
        {% capture last_event_time %}{{last_event.date | date: '%s'}}{% endcapture %}
        {% if last_event_time > nowunix %}

          <h2>Kommende Termine:</h2>
          <ul>
            {% for event in site.events %}
              {% capture event_time %}{{event.date | date: '%s'}}{% endcapture %}
              {% if event_time > nowunix or event.show_always %}
              <li>
                <a href="{{ event.url | relative_url }}">
                  <span class="title">{{ event.title | escape }}</span>,
                  <span class="date">{{ event.date | date: '%d.%m.%Y' }}</span>
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>

        {% endif %}

        <div><a href="termine.ics">Termine als ICS</a></div>
      </section>

      <section class="square description">
        <article>
          {% markdown description.md %}
        </article>
      </section>

      <section class="square features">
        <article>
          {% markdown features.md %}
        </article>
      </section>

      {%- include aside.html -%}

    </main>

    {%- include footer.html -%}

  </body>

</html>
